# cd into whatever is the forefront Finder window.
cdf() {  # short for cdfinder
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

codef() {
  code "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

atomf() {
  atom "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

cleanPodCache() {
  rm -rf "${HOME}/Library/Caches/CocoaPods"
}

cleanPodFolderInCurrentDir() {
  rm -rf "`pwd`/Pods/"
}

cleanAndUpdatePods() {
  cleanPodCache
  cleanPodFolderInCurrentDir
  pod update
}

tDo() {
  t do "$@" && t ls
}